.features{
    /* background-color: #aaa; */
    grid-column: center-start / center-end;
    margin: 7rem 0 ; 
      display: grid;
     grid-template-columns: repeat(3,1fr); 
     grid-template-columns: repeat(autofit,minmax(25rem,1fr));
    grid-gap: 3rem;
    align-items:start;
    
}
.feature{

    display:grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 1.5rem;
    
 
}
.feature__icon{
fill:#c69963;
width:3.5rem;
height: 4.5rem;
grid-row: 1 / span 2;
transform: translateY(-1rem)
}

.feature__text{
    font-size: 1.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading{
    font-family:  'Josefin Sans', sans-serif;
    font-weight: 200;
    
}
.heading-1{
    font-family:  'Josefin Sans', sans-serif;
    font-weight: 200;
    line-height: 1;
    color:#f9f7f6;
    
}

.heading-2{
    font-family:  'Josefin Sans', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 1;

}

 /* .heading-2--dark{
    color: #f9f7f6;
 } 
     */
.heading-2--dark{
    color: #54483A; 
    font-style: italic;
    font-size: 3rem;
    font-weight: 400;
}
    
.heading-3{
    margin-top: 5rem;
    font-family:  'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    color: #c69963; 
    text-transform: uppercase;  

}

.heading-4{
    font-family:  'Josefin Sans', sans-serif;
    font-weight:200;
    font-size: 1.5rem;
}
.heading-4--dark{
    color: #f9f7f6;
}
.heading-4--dark{
    color: #54483A;
}