.header {

    grid-column: full-start/col-end 6;
    background-image: linear-gradient(rgba(16, 29, 44, 0.8), rgba(16, 29, 44, 0.8)), url(../image/bac.jpg);
    /* background-image:url(../image/bg.webp); */
    background-size: cover;
    background-position: center;
    padding: 3rem;
    padding-top: 3rem;
    display: grid;
    grid-template-rows: 1fr max-content minmax(3rem, min-content) 1fr;
    /* grid-template-columns: minmax(min-content,min-content); */
    /* justify-content: center; */
    grid-row-gap: 1rem;
    /* justify-content: center; */
}

@media screen and (max-width:800px) {
    html{
        font-size: 70%;
    }
    .header{
       grid-column: 1/ -1;

    }
}

@media screen and (max-width:600px) { 
    .header{
       padding: 5rem;
    }
}

.header__logo {
    height: 6rem;
    /* justify-self: center; */
}



.header__btn {
    align-self: start;
    justify-self: start;
}

.header__seenon-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;
    font-size: 1.6rem;
    color: #aaa;
}

.header__seenon-text::before,
.header__seenon-text::after {
    content: "";
    height: 1px;
    display: block;
    background-color: #aaa;
}

.header__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    justify-items: center;
    align-items: center;

}

.header__seenon-logos img {
    height: 2.5rem;
    /* width: 100%; */
    filter: brightness(70%);

}